# Quarto
/.quarto/
/_site/
/_freeze/

# Render outputs
*.html
*.pdf
*.docx
*.pptx

# LaTeX auxiliares
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.jupyter_cache/

# R
.Rhistory
.RData

# OS / editor
.DS_Store
*.swp

# Quarto temp notebooks
**/*.quarto_ipynb

# Env
.env/
.venv/
env/
venv/
