/*-- scss:rules --*/

// Estilo para 2 columnas
.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas iguales */
  gap: 16px; /* Espacio opcional entre los elementos */
}

// Referencias a ecuaciones con número entre paréntesis
a.quarto-xref[href*="#eq-"] > span::before {
    content: "(";
}
a.quarto-xref[href*="#eq-"] > span::after {
    content: ")";
}

// Evita superposición de la etiqueta en la ecuación referenciada
// Implementación para motor KaTeX
// div.tippy-content .katex-display .tag {
//     display: none !important;
// }
// Implementación para motor MathJax (descomentar en caso de cambiar el motor)
div.tippy-content mjx-labels,
div.tippy-content mjx-label {
    display: none !important;
}
// Fuerza la desaparición de barras de scroll vertical en la previsualización
.tippy-content {
  overflow-y: hidden !important;
}

// Centrar un bloque
.center {
    display: block;
    text-align: center;
}

// Achicar matemática en línea
.math.inline .MathJax {
  font-size: 95% !important;
}